<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eshangke.framework">

    <!-- 注册极光推送自定义权限 -->
    <permission
        android:name="com.eshangke.framework.permission.JPUSH_MESSAGE"
        android:protectionLevel="normal" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许应用可以访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许应用获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许应用挂载/卸载 外部文件系统 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许应用接收JPUSH内部代码发送的广播消息 -->
    <uses-permission android:name="com.eshangke.framework.permission.JPUSH_MESSAGE" />
    <!-- 允许应用可以接收点亮屏幕或解锁广播 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- 允许应用在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许应用访问手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许应用读取外部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许应用读写系统设置项 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 允许应用震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许应用显示系统窗口，位于显示的顶层 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 允许程序读取底层系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 允许程序从非系统拨号器里输入电话号码 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 允许程序访问精良位置(如GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许程序获取有关当前或最近运行的任务信息 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 允许程序调试 -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <!-- 允许程序访问一个在Accounts Service中的帐户列表 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 允许程序请求从AccountManager验证证书 -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- 允许程序管理AccountManager中的账户列表 -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.RxAndroidSampleActivity"
            android:label="@string/rx_android_sample"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.CoordinatorLayoutActivity"
            android:label="@string/coordinator_layout_sample"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.PermiSampleActivity"
            android:label="@string/permission_sample"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.PropertyAnimationActivity"
            android:label="@string/property_anim_sample"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.CustomerViewActivity"
            android:label="@string/customerview_sample"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.MediaRecorderActivity"
            android:label="@string/recorder_sample"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.AnimationActivity"
            android:label="@string/anim_sample"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.NDKActivity"
            android:label="@string/ndk_sample"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.BookDetailActivity"
            android:label="@string/book_detail"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.BooksXListActivity"
            android:label="@string/book_list"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.VersionUpdateDialog"
            android:label="@string/version_update"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyleBottom" />
        <activity
            android:name=".ui.activities.SaveActivity"
            android:label="@string/save_sample"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.activities.HttpSampleActivity"
            android:label="@string/file_download_sample"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.activities.FileDownloadActivity"
            android:label="@string/download_manager"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.activities.ChannelActivity"
            android:label="@string/channel_edit_sample"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />

        <activity
            android:name=".jpush.JpushActivity"
            android:label="@string/jpush_sample"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jpush.NotifiOpenActivity"
            android:label="@string/jpush_open_notifi"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.MediaPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/media_player_sample"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleFullscreen" />
        <activity
            android:name=".widget.photoselect.PhotoSelectDialog"
            android:label="选择图片"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyleBottom" />
        <activity
            android:name=".widget.CropperActivity"
            android:label="剪切图片"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.photoselect.SelectPhotoFolderActivity"
            android:label="选择相册"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.PhotoDetailActivity"
            android:label="图片预览"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.BottomTabActivity"
            android:label="@string/bottom_tab_sample"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.SwipeRefreshActivity"
            android:label="@string/bottom_tab_sample"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.GreenDaoActivity"
            android:label="@string/greendao_sample"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 安装包下载服务 -->
        <service android:name=".service.ApkDownloadService" />


        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/DialogStyleBottom" />

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.eshangke.framework" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.eshangke.framework" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="com.eshangke.framework" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".jpush.JpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.eshangke.framework" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="89dd553a4080434ff94c3402" />
        <!-- </>值来自开发者平台取得的AppKey -->


        <!-- 友盟应用统计配置 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56aec389e0f55acfdb0023bb" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />
        <meta-data
            android:name="com.eshangke.framework.util.MyGlideModule"
            android:value="GlideModule" />


    </application>

</manifest>